node_modules

# Output
.output
.vercel
.netlify
.wrangler
/.svelte-kit
/build

# ReScript compiler cache and intermediate artifacts.
/lib

# OS
.DS_Store
Thumbs.db

# Env
.env
.env.*
!.env.example
!.env.test

# Vite
vite.config.js.timestamp-*
vite.config.ts.timestamp-*

# ReScript build output
*.res.js
*.gen.tsx
